 ============================ CSS Reset ============================ */
* { /*for resetting margin, padding and box-sizing*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ==================================================================== */
/* ============================ NAV BAR START ========================= */
/* ==================================================================== */

#navbarIcon {
  	overflow: hidden; /* control picture overflow */
	width: 3rem;
	height: 3rem;
  	border: 1px solid gray;
	border-radius: 10px;
}

.icon_size {
	width: 3rem;
	height: 3rem;
	transition: transform 1s; /* Transition */
}

#navbarIcon:hover .icon_size { transform: scale(1.4); }

.nav_bgc { background-color: rgba(0, 0, 0, .4); }

#navbarNav > ul > li {
	padding-left: .5rem;
	padding-right: .5rem;
	font-size: 1.5rem;
}

/* ==================================================================== */
/* ============================ NAV BAR  END  ========================= */
/* ==================================================================== */


/* ==================================================================== */
/* ============================ BODY START ============================ */
/* ==================================================================== */

body {
	background-color: lightskyblue;
	/*font-family: 'Merriweather', serif;
	font-family: 'Tilt Warp', cursive;
	font-family: 'Righteous', cursive;*/
	font-family: 'Righteous', cursive;
}

.bg_vid {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

/* ==================================================================== */
/* ============================  BODY END  ============================ */
/* ==================================================================== */

/* ==================================================================== */
/* ============================ FOOTER START ========================== */
/* ==================================================================== */

.footer_bgc { background-color: rgba(0, 0, 0, .4); }

.footer a{
	font-size: 2.5rem;
	padding-left: 10px ;
	padding-right: 10px;
	color: gray;
	height: 50px;
}

	.fab:hover { /* ----- FB and LinkedIn icon ----- */
		transition-duration: 1s; /* smooth transition of color */
		color: #4267B2;
	}

	.lkI:hover { /* ----- FB and LinkedIn icon ----- */
		transition-duration: 1s; /* smooth transition of color */
		color: skyblue;
	}

	.gtL:hover {/* ----- GitLab icon ----- */
		transition-duration: 1s;
		color: lightsalmon;
	}

	.gml:hover { /* ----- Mail icon ----- */
		transition-duration: 1s;
		color: lightgreen;
	}

	.fab, .lkI , .gtL , .gml{
		transition: transform 0.25s; /* Transition */
	  	overflow: hidden; /* controls image overflow */
	}

	.fab:hover, .lkI:hover , .gtL:hover , .gml:hover{
	  transform: scale(1.3);
	}

/* ==================================================================== */
/* ============================  FOOTER END  ========================== */
/* ==================================================================== */


/* ******************************************************************** */
/* ******************  Mobile First Approach START  ******************* */
/* ******************************************************************** */

	/* Small Devices */
	@media (min-width: 576px){
		main h1 {
	  		font-size: 4rem;
	  		margin-top: 5rem;
	  	}

	   	main h5{ font-size: 2rem; }
	}

	/* Medium Devices */
	@media (min-width: 768px) {
		
	  	main h1 {
			font-size: 7rem;
			margin-top: 5rem ;
		}

	 	main h5{ font-size: 2rem; }
	}

	/* Large Devices */
	@media (min-width: 992px) {
	  	main h1 {
			font-size: 7rem;
			margin-top: 5rem ;
		}

	 	main h5{ font-size: 3rem;}
	}

/* ******************************************************************** */
/* *******************  Mobile First Approach END  ******************** */
/* ******************************************************************** 